body{
    height:100vh;
    width:100%;
    background-image: url("../Image/119241-blue-and-white-abstract-background-vector\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

nav{
    opacity: .7;
    background-color: #bfe3eb;
    border:none;
    text-shadow: 2px 2px 4px rgba(255,255,255,.02);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left:1px solid rgba(255,255,255,.03);

}